 body{
        padding: 0;
        margin: 0;
        font-family: sans-serif;
 }
 h1 span{
     color: #808080;
 }
 .logo{
     margin-left: 30px;
     margin-bottom: 50px;
 }
 .img{
     height: 100px;
     width: 100px;
 }
#sr{
    width: 650px;
}